*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
   
}
nav{
    position: relative;
    text-align: center;
    margin-top: 0 !important;
    position: relative;
    width: 100%;
    height: 5rem;
    background-color: #1093f3;
}
nav .nav-items{
    cursor: pointer;
    position: absolute;
    margin-left: 5vw;
    margin-top: 1vw;
    color: white;
    font-weight: bolder;
}
main{
    margin-top: 2vw;
    margin-left: 30vw;
    margin-right: 30vw;
}
main .container-main{
    padding: 5vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid gainsboro;
}
main .container-main label{
    margin-top: 1vw;
    margin-bottom: 0.2vw;
    font-weight: bolder;
    font-size: 15px;
}
main .container-main input{
    border-radius: 5px;
    border: 1.5px solid gainsboro;
    width: 100%;
    padding: 10px;
    font-weight: bold;

}
main .container-main .form-group-buttons{
    margin-top: 0.5vw;
    color: #69c369;
}
main .container-main .form-group-buttons #button-cancelar{
    background-color: rgb(255, 88, 88);
}
main .container-main .form-group-buttons button{
    border: none;
    color: white;
    background-color: #1093f3;
    cursor: pointer;
    padding: 8px 25px;
    border-radius: 5px;
}
main .container-main .form-group-buttons #button-salvar:hover{
    background-color: #054776;
    transition: 0.8s;
}
main .container-main .form-group-buttons #button-cancelar:hover{
    background-color: rgb(221, 90, 90);
    transition: 0.8s;
}
section{
    margin-left: 30vw;
    margin-right: 30vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gainsboro;
}
section table{
    border-collapse: collapse;
    border: 1px solid rgba(128, 128, 128, 0.259);
    width: 100%;
}
section table th{
    color: white;
    background-color: #054776;
  
}
section table{
    width: 100%;
}
section table tr .center{
    text-align: center;
}
section table td{
    
    border: 1px solid rgba(128, 128, 128, 0.259);

}
section table td img{
    width: 20px;
    margin-right: 0.5vw;
    text-align: center;
    cursor: pointer;
}
section table td{
    text-align: center;
}
@media(max-width:1000px){
    nav .nav-items h1{
        
        margin-top: 5vw;
    }
    main{
        margin-left: 5vw !important;
        margin-right: 5vw !important;
    }
    main .container-main{
        width: 100%;
    }
    main .container-main small{
        margin-bottom: 4vw;
    }
    main .container-main input{
        margin-bottom: 4vw;
    }
    section {
        margin-left: 5vw !important;
        margin-right: 5vw !important;
    }
    section table{
        width: 100%;
        border: none;
       
    }
}